@mixin contact-button($color) {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 15px;
    width: 150px;

    background-color: transparent;
    border: 1px solid $color ;
    border-radius: 5px;

    .button-text {
        margin-right: 10px;

        font-weight: bold;
        color: $color;
    }

    .button-icon {
        color: $color;
    }

    transition: background 0.4s;

    &:hover {
        cursor: pointer;
        background: #f5f5f5 radial-gradient(circle, transparent 1%, #f5f5f5 1%) center/15000%;
    }

    &:active {
        background-color: #d3d3d3;
        background-size: 100%;
        transition: background 0s;
    }
}