// Colors.
@import "./colors";

// Contact buttons.
@import "./contact-button";

body {
    font-family: 'Lora', serif;
    margin: 0px;
    color: $primary-text-color;
}

// Adjusting the anchors due to fixed navbar.
.anchor {
    display: block; 
    position: relative; 
    top: -100px; 
    visibility: hidden; 
}

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(211,211,211, 0.9);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);

    .navbar-list {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .navbar-item {
            height: 100%;
            width: 100px;
            display: flex;

            font-weight: bold;

            transition: background 0.4s;

            &:hover {
                cursor: pointer;
                background: #ededed radial-gradient(circle, transparent 1%, #ededed 1%) center/15000%;
            }

            &:active {
                background-color: #d3d3d3;
                background-size: 100%;
                transition: background 0s;
            }

            a {
                text-decoration: none;
                color: inherit;

                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 82px;
            }
        }
    }
}

.main-content {
    padding-top: 100px;

    .about-me {
        display: flex;
        justify-content: center;

        .image-section {
            width: 30%;
            margin-top: 61px;

            .profile-image {
                max-width: 90%;
                height: auto;
            }
        }

        .summary-section {
            width: 50%;
            text-align: justify;

            .title {
                font-size: 32px;
                margin-bottom: 15px;
                color: $primary-title-color;
            }
        }
    }

    .cv {
        width: 80%;
        margin: auto;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            font-size: 32px;
            margin-bottom: 15px;
            color: $primary-title-color;
        }

        .text {
            text-align: justify;
        }
    }

    .contact {
        width: 80%;
        margin: auto;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            font-size: 32px;
            margin-bottom: 15px;
            color: $primary-title-color;
        }

        .text {
            display: flex;
            flex-wrap: wrap;
        }

        .contact-button {

            &.linkedin-button {
                @include contact-button($linkedin-color);
            }

            &.github-button {
                @include contact-button($github-color);
            }

            &.email-button {
                @include contact-button($email-color);
            }

            &.twitter-button {
                @include contact-button($twitter-color);
            }
        }
    }
}

@media only screen and (max-width: 665px) {
    .main-content{
        .about-me {
            flex-direction: column;
            align-items: center;

            .image-section {
                width: 40%;
            }

            .summary-section {
                width: 80%;
            }
        }

        .cv {
            width: 80%;
        }

        .contact {
            width: 80%;
        }
    }
}